html {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(205, 201, 209);
}

* {
  box-sizing: border-box;
}

.keyboard-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.textarea-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.keyboard-textarea {
  width: auto;
  font-family: monospace;
  height: 10rem;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  resize: none;
  outline: none;
  overflow: auto;

  &::placeholder {
    color: rgb(205, 201, 209);
  }
}
.keyboard {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.keyboard-row {
  flex: 1;
  background-color: rgb(222, 215, 230);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
}

.keyboard-addition {
  position: absolute;
  right: 3rem;
  bottom: 1rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.697);
  text-align: right;
}
