.key {
  background-color: white;

  font-weight: 700;
  font-size: 1.5rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #6a4c93;
    color: white;
  }
  &.active {
    color: white;
    &[data-value='shift'] {
      background-color: #ff595e;
    }
    &[data-value='capslock'] {
      background-color: #1982c4;
    }
  }
  &.pressed {
    animation-name: press;
    animation-duration: 0.3s;
    position: relative;
  }

  @keyframes press {
    25% {
      bottom: -5px;
      background-color: #ffca3a;
      color: white;
    }

    100% {
      bottom: 0px;
      background-color: white;
      color: black;
    }
  }

  .key-main-value {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .key-addition-value {
    position: absolute;
    font-weight: 500;
    font-size: 1rem;
    left: 0.5rem;
    top: 0.5rem;
  }

  &.key_special {
    flex-grow: 1;
  }
  &.key_letters,
  &.key_digits {
    width: 4rem;
    height: 4rem;
    font-weight: 400;
  }
}
